.fundo {
    background: #252526;
}

#body {
    background-color: #8E2DE2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4A00E0, #8E2DE2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@media screen and (max-width: 600px) {
    body {
        background-color: #8E2DE2;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #4A00E0, #8E2DE2);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .fundo {
        background: rgb(250, 2, 126);
    }

    #logo {
        font-family: 'Fredericka the Great';
    }

    #imagemFundo {
        position: absolute;
        width: 100%;
        height: 25.5%;
        background-color: #000004;
        z-index: -1;
    }

    main {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }


    #estrela {
        width: 150%;
        position: absolute;
        z-index: 1;
    }

    #predios {
        width: 160%;
        margin: 35% 0 0 0;
        position: absolute;
        z-index: 3;
    }



    #lua {
        margin: 5% 0 0 68%;
        width: 25%;
        position: absolute;
        z-index: 2;
    }

    #asfalto {
        margin: 120% 0 0 0;
        width: 200%;
        position: absolute;
        z-index: 5;
    }

    #arvores {
        margin: 80% 0 0 75%;
        width: 45%;
        position: absolute;
        z-index: 4;
    }

    #el_CHbwdbHuPQW {
        margin: 35% 0 0 8%;
        width: 78%;
        position: relative;
        z-index: 7;

    }

    #banco {
        margin: 105% 0 0 30%;
        width: 25%;
        position: absolute;
        z-index: 7;
    }

    #lixeiro {
        display: none;
    }

    #pessoa {
        margin: 81% 0 0 56%;
        width: 22%;
        position: absolute;
        z-index: 6;
    }

    #mato1 {
        display: none;
    }

    #mato2 {
        display: none;
    }

    #arvore1 {
        margin: 60% 0 0 0%;
        width: 45%;
        position: absolute;
        z-index: 6;
    }

    #arvore2 {
        margin: 45% 0 0 25%;
        width: 45%;

        position: absolute;
        z-index: 4;
    }

    #gato {
        margin: 107% 0 0 30%;
        width: 8%;
        position: absolute;
        z-index: 7;
    }




    @-webkit-keyframes el_3NJDTC0Fqlm_Animation {
        1.11% {
            opacity: 1;
        }

        3.33% {
            opacity: 1;
        }

        6.67% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        14% {
            opacity: 1;
        }

        18% {
            opacity: 0;
        }

        22% {
            opacity: 1;
        }

        24% {
            opacity: 0;
        }

        28% {
            opacity: 1;
        }

        31% {
            opacity: 0;
        }

        40% {
            opacity: 1;
        }

        51% {
            opacity: 0;
        }

        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes el_3NJDTC0Fqlm_Animation {
        1% {
            opacity: 1;
        }

        3% {
            opacity: 1;
        }

        6% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        14% {
            opacity: 1;
        }

        18% {
            opacity: 0;
        }

        22% {
            opacity: 1;
        }

        24% {
            opacity: 0;
        }

        28% {
            opacity: 1;
        }

        31% {
            opacity: 0;
        }

        40% {
            opacity: 1;
        }

        51% {
            opacity: 0;
        }

        0% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    #el_CHbwdbHuPQW * {
        -webkit-animation-duration: 5s;
        animation-duration: 5s;
        -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
        animation-timing-function: cubic-bezier(0, 0, 1, 1);
    }

    #el_UegY8LVQQj2 {
        -webkit-transform: translate(88.93989px, -118.73664px);
        transform: translate(88.93989px, -118.73664px);
    }

    #el_S8QMPU8Qzjk {
        -webkit-transform: matrix(0.70401998, 0, 0, 0.85247922, -104.1811, -6.5234877);
        transform: matrix(0.70401998, 0, 0, 0.85247922, -104.1811, -6.5234877);
    }

    #el_3NJDTC0Fqlm {
        fill: url(#linearGradient39803);
        fill-opacity: 1;
        stroke: none;
        stroke-width: 0.28520316;
        stroke-opacity: 1;
        -webkit-animation-name: el_3NJDTC0Fqlm_Animation;
        animation-name: el_3NJDTC0Fqlm_Animation;
        opacity: 1;
    }

    #el_v4ysoNjYUkZ {
        fill: #666666;
        fill-opacity: 1;
        stroke: none;
        stroke-width: 0.26458332;
        stroke-opacity: 1;
    }

    #el__W9SxXUVWNv {
        -webkit-transform: matrix(0.95057386, -0.31049852, 0, 1, 0, 0);
        transform: matrix(0.95057386, -0.31049852, 0, 1, 0, 0);
        fill: #666666;
        fill-opacity: 1;
        stroke: none;
        stroke-width: 0.25904629;
        stroke-opacity: 1;
    }

    #el_5qnaYDMehtR {
        fill: #666666;
        fill-opacity: 1;
        stroke: none;
        stroke-width: 0.23684229;
        stroke-opacity: 1;
    }


}




@media screen and (min-width:600px) {
    body {
        background: #8E2DE2;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #4A00E0, #8E2DE2);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    #logo {
        font-family: 'Fredericka the Great';
    }

    #imagemFundo {
        width: 100%;
        height: 90%;
        background-color: #000004;
        position: absolute;
        z-index: -1;
    }

    #estrela {
        width: 100%;
        position: absolute;
        z-index: 1;
    }

    #predios {
        width: 100%;
        position: absolute;
        z-index: 3;
    }

    #lua {
        margin: 0.8% 0 0 85%;
        width: 9%;
        position: absolute;
        z-index: 2;
    }

    #asfalto {
        margin: 35% 0 0 0;
        width: 100%;
        position: absolute;
        z-index: 5;
    }

    #arvores {
        margin: 16% 0 0 75%;
        width: 20%;
        position: absolute;
        z-index: 4;
    }

    #el_CHbwdbHuPQW {
        margin: 1% 0 0 25%;
        width: 32%;
        position: relative;
        z-index: 7;

    }

    #banco {
        margin: 27% 0 0 40%;
        width: 17%;
        position: absolute;
        z-index: 6;
    }

    #lixeiro {
        margin: 32% 0 0 30%;
        width: 5%;
        position: absolute;
        z-index: 6;
    }

    #pessoa {
        margin: 17% 0 0 56%;
        width: 9%;
        position: absolute;
        z-index: 6;
    }

    #mato1 {
        margin: 30% 0 0 65%;
        width: 11%;
        position: absolute;
        z-index: 4;
    }

    #mato2 {
        margin: 32% 0 0 10%;
        width: 11%;
        position: absolute;
        z-index: 6;
    }

    #arvore1 {
        margin: 7% 0 0 10%;
        width: 20%;
        position: absolute;
        z-index: 6;
    }

    #arvore2 {
        margin: 2% 0 0 35%;
        width: 20%;
        position: absolute;
        z-index: 4;
    }

    #gato {
        margin: 35% 0 0 35%;
        width: 7%;
        position: absolute;
        z-index: 6;
    }



    #meu {
        position: relative;

    }

    @-webkit-keyframes el_3NJDTC0Fqlm_Animation {
        1.11% {
            opacity: 1;
        }

        3.33% {
            opacity: 1;
        }

        6.67% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        14% {
            opacity: 1;
        }

        18% {
            opacity: 0;
        }

        22% {
            opacity: 1;
        }

        24% {
            opacity: 0;
        }

        28% {
            opacity: 1;
        }

        31% {
            opacity: 0;
        }

        40% {
            opacity: 1;
        }

        51% {
            opacity: 0;
        }

        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes el_3NJDTC0Fqlm_Animation {
        1% {
            opacity: 1;
        }

        3% {
            opacity: 1;
        }

        6% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        14% {
            opacity: 1;
        }

        18% {
            opacity: 0;
        }

        22% {
            opacity: 1;
        }

        24% {
            opacity: 0;
        }

        28% {
            opacity: 1;
        }

        31% {
            opacity: 0;
        }

        40% {
            opacity: 1;
        }

        51% {
            opacity: 0;
        }

        0% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    #el_CHbwdbHuPQW * {
        -webkit-animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-duration: 5s;
        -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
        animation-timing-function: cubic-bezier(0, 0, 1, 1);
    }

    #el_UegY8LVQQj2 {
        -webkit-transform: translate(88.93989px, -118.73664px);
        transform: translate(88.93989px, -118.73664px);
    }

    #el_S8QMPU8Qzjk {
        -webkit-transform: matrix(0.70401998, 0, 0, 0.85247922, -104.1811, -6.5234877);
        transform: matrix(0.70401998, 0, 0, 0.85247922, -104.1811, -6.5234877);
    }

    #el_3NJDTC0Fqlm {
        fill: url(#linearGradient39803);
        -webkit-animation-name: el_3NJDTC0Fqlm_Animation;
        animation-name: el_3NJDTC0Fqlm_Animation;

    }

    #el_v4ysoNjYUkZ {
        fill: #666666;

    }

    #el__W9SxXUVWNv {
        -webkit-transform: matrix(0.95057386, -0.31049852, 0, 1, 0, 0);
        transform: matrix(0.95057386, -0.31049852, 0, 1, 0, 0);
        fill: #666666;

    }

    #el_5qnaYDMehtR {
        fill: #666666;

    }


}